<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;width: 100vw;">
    <mat-card appearance="outline" fxFlex="50%" fxFlex.xs="100%">
        <mat-card-header>
            <h2>Register Here</h2>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" [formGroup]="userRegisterForm">
                <mat-form-field appearance="outline" >
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <div *ngIf="userRegisterForm.get('email')?.invalid && userRegisterForm.get('email')?.touched">
                        <small *ngIf="userRegisterForm.get('email')?.errors['required']">Email is required</small>
                        <small *ngIf="userRegisterForm.get('email')?.errors['email']">Invalid email format</small>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="name" formControlName="name">
                    <div *ngIf="userRegisterForm.get('name')?.invalid && userRegisterForm.get('name')?.touched">
                        <small *ngIf="userRegisterForm.get('name')?.errors['required']">Name is required</small>
                        <small *ngIf="userRegisterForm.get('name')?.errors['minlength']">Should have min length </small>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="username" formControlName="userName">
                    <div *ngIf="userRegisterForm.get('userName')?.invalid && userRegisterForm.get('userName')?.touched">
                        <small *ngIf="userRegisterForm.get('userName')?.errors['required']">username is required</small>
                        <small *ngIf="userRegisterForm.get('userName')?.errors['minlength']">Should have min length </small>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="password">
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="confirm password">
                </mat-form-field>
                <button mat-raised-button color="primary">Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>