<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;">
    <mat-card appearance="outline" style="width: 40vw;">
        <mat-card-header>
            <h2>Login Here</h2>
        </mat-card-header>
        <mat-card-content fxLayout="column" >
            <mat-form-field appearance="outline" >
                <mat-label>Username</mat-label>
                <input matInput placeholder="username">
            </mat-form-field>
            <mat-form-field appearance="outline" >
                <mat-label>Password</mat-label>
                <input matInput placeholder="password">
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>
            <a href="" style="padding: 10px;text-align: center;">Forgot password</a>
            <a href="/register" style="padding: 10px;text-align: center;">Register</a>
        </mat-card-content>
    </mat-card>
</div>